<div class='container'>
  <div class='row'>
     <div class="col-md-12"  style="margin-top: 10px;">
<p class="text-center border-bottom">詳細画面</p>
<div class="card m-2 text-center card-warpper　">
   <%= image_tag @article.get_article_image, size:'300x300', class:"d-block mx-auto" %>
  <div class="card-body">
    <h2 class="card-title "><%= @article.title %></h2>
    <%= render_with_hashtags(@article.body) %>
  </div>

<h4>ロケーション</h4>
<div id='map'></div>

<style>
#map{
  height: 200px;
}
</style>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: <%= @article.get_latitude %>, lng: <%= @article.get_longitude %>},
  zoom: 8
  });

  var marker = new google.maps.Marker({
          map: map,

          position: {lat: <%= @article.get_latitude %>, lng: <%= @article.get_longitude %>},
      });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>


<!--<div class="favorites mt-2">-->
<!--<div id="favorite_buttons_<%##= render "public/favorites/favorite", article: @article %>-->
<!--　　</div>-->
<!--　　</div>-->


    <%= form_with model: [@article, @article_comment], local: false do |f| %>
      <div><%= f.text_area :comment, rows: '5', placeholder: "comment", class: "form-control" %> </div>
      <div><%= f.submit "送信", class: "btn btn-primary" %></div>
        <% end %>
   <%# if @article.user == current_user %>
    <%= link_to '編集', edit_admin_article_path(@article), class: "btn btn-sm btn-success" %>
    <%= link_to '削除', admin_article_path(@article), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
   <%# end %>

</div>

  </div>
   </div>
   </div>
