<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/users/info',user: @user %>
     </div>

      <div class="col-md-8 offset-md-1 text-center mt-2 " >
          <h2>Messages</h2>

          <dl class="faq_area">
            <% @chats.each do |chat| %>
            
              <div> 
              　<% if current_user != chat.user %>
                <dd><%= chat.message %>
                </dd><%= chat.user.name %>
                <% else%>
                <%= chat.user.name %><dt><%= chat.message %></dt>
                <% end %>
                </div>
              <% end %>
                  <%= form_with model: @chat do |f| %>
                <%= f.text_field :message %>
                <%= f.hidden_field :room_id %>
                <%= f.submit %>
            <% end %>
          </dl>
       </div>
     </div>
  </div>