<div class='container'>
 <div class='row'>
   <div class="col-md-12"  style="margin-top: 10px;">
      <div class="admin text-center">
        <h3>管理者画面</h3>
         <h5>投稿数の前日比・前週比</h5>
            <div class="table_width">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>今日の投稿</th>
                  <th>昨日の投稿</th>
                  <th>前日比</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
          	  <td><%= @today_article.count %></td>
          	  <td><%= @yesterday_article.count %></td>
                  <% if @yesterday_article.count == 0 %>
          	  <td>前日の投稿はなし</td>
                  <% else %>
          	  <td><% @the_day_before =   @today_article.count / @yesterday_article.count  %>
          	  <%= (@the_day_before * 100).round %>%</td>
                  <% end %>
                  </tr>
                </tbody>
              </table>
        <div>
           <%=  link_to admin_users_path,class:  do %>
          ユーザーを確認する
          <% end %>
        </div>
        <div>
           <%=  link_to admin_articles_path ,class:  do %>
          記事を確認する
          <% end %>
        </div>
      </div>
  </div>
 </div>
</div>