<%= form_with model: @article,local:true do |f| %>

  <div class="form-group pt-3">
    <%= f.label :記事タイトル %>
    <%= f.text_field :title, class: 'form-control article_title', placeholder: "タイトルを入力してください" %>
  </div>
  <div class="form-group">
    <%= f.label :内容 %>
    <%= f.text_area :body, class: 'form-control article_body',placeholder: "内容を入力してください" %>
  </div>
  <!-- 追加部分 -->
   <div class="form-group">
  <%= f.label :画像 %>
  <%= f.file_field :article_image, accept: "image/*" %>
  </div>

  <div class="location">ロケーション</div>
  <div class="gmap mb-3">
  <input id="address" type="textbox" value="">
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>


<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="search" onclick="codeAddress()">
<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>

<script>
let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.6811673, lng: 139.7670516},
  zoom: 8
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);
      document.getElementById("article_latitude").value = results[0].geometry.location.lat();
      document.getElementById("article_longitude").value = results[0].geometry.location.lng();

　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,

          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>
</div>
  <div class="form-group">
    <%= f.submit '投稿する', class: "btn btn-success" %>
  </div>

<% end %>