<div class="mb-3"><%= image_tag user.get_profile_image, class: "rounded-circle", size:'100x100' %></div>

<div style="text-align: center;">follow :<%= link_to user.followings.count, user_followings_path(user.id) %>
    </div>
      <div style="text-align: center;">followed :<%= link_to user.followers.count, user_followers_path(user.id) %>
       </div>

    <%= link_to new_article_path, class: "btn btn-warning rounded-circle" do %>
    <i class="fas fa-pencil-alt faa-ring animated"></i>  
    <% end %>
    
<p>
  <a class="btn btn-primary text-center" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    View Profile
  </a>
 
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
   <div>name</div>
   <div><%= user.name %></div>
</div>
</div>

 <% if current_user != user %>
  <%= link_to 'chatを始める', chat_path(user.id)%>
<% end %>

 <% if user.name != "guestuser" %>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
<% end %>