<!DOCTYPE html>
<html>
  <head>
    <title>Abboo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body style="background-color:lightcyan;">
     <%= render 'layouts/header' %>
     <% flash.each do |message_type, message| %>
     <div><%= message %></div>
     <% end %>
     <%= yield %>
     <%= render 'layouts/footer' %>
  </body>
</html>
